body{
    background-color: #CFC;
    color: blue;
    font-family: verdana, cambria, serif ;
    font-size: 16px;
}
h1{
    color: rgb(177, 12, 12);
    font-family: Verdana, Calibri, sans-serif;
    font-size: 32px;
}
h2{
    color: rgb(177, 12, 12);
    font-family: Verdana, Calibri, sans-serif;
    font-size: 24px;
}
ul li span{
    color:green;
}
b{
    font-size: 20px;
}
.parentesis{
    font-style: italic;
    background-color: black;
    color:white;
}
.social-icons{
    width: 250px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-self: self-end;
    margin-top: 10px;
    margin-right: 50px;
    margin-left: 70%;

}
.social-icons a{
    color:white;
    font-size: 28px;
}
.social-icons a:hover{
    color: lightgrey;
}

